.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/image10.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 97vh;;
  }
  
  .signup-data {
    // background: url('../assets/image3.jpg'); 
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 800px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 270px;
  }
  
  .password-label {
    position: relative;
  }
  
  .eye-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-100%);
    cursor: pointer;
    color: black;
  }
  
  input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 290px;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .terms-label {
    display: inline;
    align-items: start;
  }
  
  .terms-label input {
    margin-right: -100px;
    margin-left: -100px;
  }

  .terms-label h6 {
    margin-top: -34px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: normal;
  }
  
  .terms-label a {
    color: #007bff;
    text-decoration: none;
  }
  
  .terms-label a:hover {
    text-decoration: underline;
  }
  